:root {
    --vp-c-indigo-1: #6ba1ff;
    --vp-c-indigo-2: #2669df;
    --vp-c-indigo-3: #2159ba;
    --vp-c-indigo-soft: rgba(102, 158, 255, 0.16);
    --vp-home-hero-name-color: #1155cc;
}

table {
    table-layout: fixed;
    width: 100%;
}

th {
    /* This is the key */
    width: 1%;
    max-width: 100%;
}

.DocSearch-Button-Placeholder {
    margin-top: 0 !important;
}
/* Reset padding */
.vp-doc .VPFeatures {
    padding: 0 !important;
}

/* Reset title */
.vp-doc .VPFeatures h2 {
    margin: initial !important;
    border-top: initial !important;
    padding-top: initial !important;
    letter-spacing: initial !important;
}

/* Reset a */
.vp-doc .VPFeatures .item a {
    color: var(--vp-c-text-1) !important;
    text-decoration: initial !important;
}

.VPFeatures.full-width .item {
    width: 100% !important;
}

.VPFeatures.half-width .item {
    width: 100% !important;
}

@media (min-width: 640px) {
    .VPFeatures.half-width .item {
        width: 50% !important;
    }
}

.VPFeatures.full-width .item .box,
.VPFeatures.half-width .item .box {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: center !important;
}

.VPFeatures.full-width .item .box .icon,
.VPFeatures.half-width .item .box .icon {
    margin-bottom: 0 !important;
    margin-right: 20px !important;
}

.VPFeatures.full-width .item .box p,
.VPFeatures.half-width .item .box p {
    width: 100% !important;
    margin-bottom: 0 !important;
}

.VPButton.green {
    border-color: var(--vp-button-brand-border);
    color: var(--vp-button-brand-text);
    background-color: var(--vp-c-green-3);
}

.VPButton.green:hover {
    border-color: var(--vp-button-brand-hover-border);
    color: var(--vp-button-brand-hover-text);
    background-color: var(--vp-c-green-2);
}

.VPButton.green:active {
    border-color: var(--vp-button-brand-active-border);
    color: var(--vp-button-brand-active-text);
    background-color: var(--vp-c-green-1);
}